<!-- <div class="m-grid__item m-body__nav">
    <div class="m-stack m-stack--ver m-stack--desktop">
        <app-hor-menu></app-hor-menu>
        <app-search></app-search>
    </div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
    <router-outlet></router-outlet>
</div> -->

<div class="m-grid__item m-body__nav">
	<div class="m-stack m-stack--ver m-stack--desktop">
		<app-hor-menu></app-hor-menu>
		<app-search></app-search>
	</div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop" style="padding-left:2%;padding-right:2%">
	<!-- <app-aside-nav></app-aside-nav> -->
	<div class="">
		<router-outlet></router-outlet>
	</div>
</div>