<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Login Details
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                   
                            <div class="col-md-6">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" placeholder="Search..." id="generalSearch">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="m_datatablefordesignation" id="local_datadesignation">
                <table class="table table-condensed table-striped table-bordered table-responsive">
                    <thead class="thead-default">
                <tr class="sortable"> 
                    <th><B>#</B></th>
                    <th (click)="sort('staff_No')"><B> Employee No&nbsp;<i class="fa fa-angle-up" aria-hidden="true"></i></B>
                        <span class="glyphicon sort-icon" *ngIf="key == 'staff_No'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                    <th (click)="sort('staff_Name')"><B>Employee Name&nbsp;<i class="fa fa-angle-up" aria-hidden="true"></i></B> <span class="glyphicon sort-icon" *ngIf="key == 'staff_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('userName')"><B>User Name&nbsp;<i class="fa fa-angle-up" aria-hidden="true"></i></B> <span class="glyphicon sort-icon" *ngIf="key == 'userName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <!-- <th (click)="sort('role_Description')"><B>PAssword</B> <span class="glyphicon sort-icon" *ngIf="key == 'role_Description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th> -->
                   
                    <th ><B>Action</B> </th>
                  </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let details of empmail | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i=index">
                            <td>{{ i+1 }}</td>

                            <input type="hidden" [(ngModel)]="details.login_Id">
                            <td>{{ details.staff_No}}</td>
                            <td>{{ details.staff_Name}}</td>
                            <td>{{ details.userName}}</td>
                           
                            <td>
                                <button type="button"  (click)="onreset(details.login_Id)" class="btn m-btn--pill m-btn--air btn-focus">Reset</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <br>
                <div class="row">
                    <label class="col-md-1" style="margin-top:5px">No.Of.Records</label>
                    <div class="col-md-2" style="margin-bottom:20px">
                        <input type="text" [(ngModel)]="rowsPerPage" [ngModelOptions]="{standalone: true}"
                        class="form-control m-input m-input--solid" placeholder="No.Of.Records" (ngModelChange)="setPageSize(rowsPerPage)"/>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <pagination-controls class="right" (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div> 
            </div>
            <!--end: Datatable -->  
        </div>
    </div>
</div>



