<style>
    thead>tr>th {
        cursor: pointer;
    }

    .right {
        float: right;
    }
</style>
<div class="m-content">

    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Change Password
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        <form #f="ngForm" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <label>
                            Old Password:
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--air" placeholder="Password"
                                [(ngModel)]="passw.old_password" [ngModelOptions]="{standalone:true}" maxlength="100">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="fal fa-plane"></i>
                                </span>

                            </span>
                        </div>
                        <!-- <span class="m-form__help" *ngIf="!name.valid && name.touched" style="color:red">
                            Please enter valid Data
                       
                       </span> -->
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <label>
                            New Password:
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--air" [(ngModel)]="passw.password"
                                [ngModelOptions]="{standalone:true}" placeholder="Password" maxlength="100">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="fal fa-plane"></i>
                                </span>

                            </span>
                        </div>
                        <!-- <span class="m-form__help" *ngIf="!name.valid && name.touched" style="color:red">
                            Please enter valid Data
                       
                       </span> -->
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <label>
                            Re-enter Password:
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--air" [(ngModel)]="password"
                                [ngModelOptions]="{standalone:true}" placeholder="Password" maxlength="100">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="fal fa-plane"></i>
                                </span>

                            </span>
                        </div>
                        <!-- <span class="m-form__help" *ngIf="!name.valid && name.touched" style="color:red">
                            Please enter valid Data
                       
                       </span> -->
                    </div>
                </div>

            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <button (click)="onSave(passw.old_password,passw.password,password)" [disabled]="!f.valid"
                                class="btn btn-primary">
                                Save
                            </button>
                            <button routerLink="/index" class="btn btn-secondary">
                                Cancel
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>