<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid" appunwraptag="">
    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light" id="m_aside_header_menu_mobile_close_btn">
		<i class="la la-close"></i>
	</button>
    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light">
        <ul class="m-menu__nav  m-menu__nav--submenu-arrow">
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" [routerLink]="['/addCustomer']" routerLinkActive="router-link-active"  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" data-menu-submenu-toggle="click" aria-haspopup="true">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span>
                    <span class="m-menu__link-text">
						User Management
					</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" [routerLink]="['/company']" routerLinkActive="router-link-active"  routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" data-menu-submenu-toggle="click" aria-haspopup="true">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span>
                    <span class="m-menu__link-text">
						Tools Management
					</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" [routerLink]="['/branch']" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" data-menu-submenu-toggle="click" aria-haspopup="true">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span>
                    <span class="m-menu__link-text">
						Report Management
					</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- end::Horizontal Menu -->