<div class="m-content">
        
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                        <h3 class="m-portlet__head-text">
                           Leave Types
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form  #f="ngForm"   class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-4">
                            <label>
                                Leave Type:
                                    </label>
                         <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--air" placeholder="Leave Type"   [(ngModel)]="leaveType.Name"  (keypress)="omit_special_char($event)"   id="Name"  required   name="Name"  #Name="ngModel" maxlength="100">
                             <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="fa fa-sign-out"></i>
                                </span>
                                
                    </span>
                    </div>
                            
                        </div>

                        <div class="col-lg-4">
                            <label>
                               Total Days:
                                    </label>
                         <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--air" placeholder="Leave Type"   [(ngModel)]="leaveType.no_Of_Days"   id="no_Of_Days"  required   name="no_Of_Days"  #no_Of_Days="ngModel" maxlength="2">
                             <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="fa fa-sign-out"></i>
                                </span>
                                
                    </span>
                    </div>
                            
                        </div>
                       
                        <div class="col-lg-4">
                            <label>
     
                            </label>
                                     <div class="m-input-icon m-input-icon--right">
                                 
                                 <div class="m-checkbox-list">
                                     <label class="m-checkbox m-checkbox--air m-checkbox--state-brand">
                                        <input type="checkbox" #isActiveCheckBoxCheckBox
                                        id="isActiveCheckBox" [(ngModel)]="leaveType.is_Active" [checked]="leaveType.is_Active" 
                                        (change)="onIsActiveChanged(isActiveCheckBoxCheckBox.checked)"
                                            [ngModelOptions]="{standalone: true}">
                                         <!-- <input type="checkbox"  [(ngModel)]="leaveType.is_Active"  
                                         [ngModelOptions]="{standalone: true}"> -->
                                         Status
                                         <span></span>
                                     </label>
                                     </div>
                                
                             </div>
                             
                         </div>
                    </div>
                   
                   
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-9"></div>
                            <div class="col-lg-3">
                                <button  type="submit"  (click)="onSubmit()" [disabled]="!f.valid" class="btn btn-primary">
                                            Submit
                                        </button>
                                <button (click)="onCancle()" class="btn btn-secondary">
                                            Cancel
                                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>